In [1]:
from google.colab import drive

drive.mount('/content/drive')
path = "/content/drive/My Drive/Datamining/TextMining/"

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
!cp "/content/drive/My Drive/Datamining/TextMining/Notebooks/functions.py" .
import functions as f
import importlib
importlib.reload(f)
f.v()

2020-05-31 10:45

In [0]:
import pandas as pd

In [4]:
df = f.loadTaggedDatasets(path + "Dataset/")
df

                date  ... is_news
0         2019-05-10  ...   False
1         2019-05-10  ...    True
2         2019-05-10  ...   False
3         2019-05-11  ...   False
4         2019-05-11  ...   False
...              ...  ...     ...
10329768  2019-11-23  ...    True
10329769  2019-11-23  ...    True
10329770  2019-11-23  ...   False
10329771  2019-11-23  ...   False
10329772  2019-11-23  ...   False

[10329773 rows x 7 columns]

In [5]:
# Tiramos a la basura todo lo que tenga language_proba <= 0.5
df = df[df['language_proba'] > 0.5]
df

                date  ... is_news
0         2019-05-10  ...   False
2         2019-05-10  ...   False
4         2019-05-11  ...   False
5         2019-05-13  ...    True
6         2019-05-13  ...    True
...              ...  ...     ...
10329767  2019-11-23  ...   False
10329768  2019-11-23  ...    True
10329770  2019-11-23  ...   False
10329771  2019-11-23  ...   False
10329772  2019-11-23  ...   False

[8829350 rows x 7 columns]

In [6]:
df_sum = df.groupby('date').size().reset_index(name = 'total_count')
df_sum

           date  total_count
0    2019-05-10        32093
1    2019-05-11        57226
2    2019-05-12        48499
3    2019-05-13        70764
4    2019-05-14        67155
..          ...          ...
193  2019-11-19        38783
194  2019-11-20        38278
195  2019-11-21        43713
196  2019-11-22        46193
197  2019-11-23        21445

[198 rows x 2 columns]

In [7]:
df_group = df.groupby(by=['date', 'is_repeated']).size().reset_index(name = 'count')
df_group

           date  is_repeated  count
0    2019-05-10        False  30107
1    2019-05-10         True   1986
2    2019-05-11        False  54383
3    2019-05-11         True   2843
4    2019-05-12        False  45789
..          ...          ...    ...
391  2019-11-21         True   2538
392  2019-11-22        False  43732
393  2019-11-22         True   2461
394  2019-11-23        False  19872
395  2019-11-23         True   1573

[396 rows x 3 columns]

In [8]:
df_sum = df_sum.merge(
    df_group[df_group['is_repeated'] == True].drop(['is_repeated'], axis=1).rename(columns={'count': 'repeated_count'}),
    left_on='date', right_on='date', how='left')
df_sum = df_sum.merge(
    df_group[df_group['is_repeated'] == False].drop(['is_repeated'], axis=1).rename(columns={'count': 'not_repeated_count'}),
    left_on='date', right_on='date', how='left')
df_sum

           date  total_count  repeated_count  not_repeated_count
0    2019-05-10        32093            1986               30107
1    2019-05-11        57226            2843               54383
2    2019-05-12        48499            2710               45789
3    2019-05-13        70764            3810               66954
4    2019-05-14        67155            3808               63347
..          ...          ...             ...                 ...
193  2019-11-19        38783            2533               36250
194  2019-11-20        38278            2421               35857
195  2019-11-21        43713            2538               41175
196  2019-11-22        46193            2461               43732
197  2019-11-23        21445            1573               19872

[198 rows x 4 columns]

In [9]:
# Para spam solo tenemos en cuenta los no repetidos
df = df[df['is_repeated'] == False]
df

                date  ... is_news
0         2019-05-10  ...   False
2         2019-05-10  ...   False
4         2019-05-11  ...   False
5         2019-05-13  ...    True
9         2019-05-10  ...   False
...              ...  ...     ...
10329767  2019-11-23  ...   False
10329768  2019-11-23  ...    True
10329770  2019-11-23  ...   False
10329771  2019-11-23  ...   False
10329772  2019-11-23  ...   False

[7775707 rows x 7 columns]

In [10]:
df_group = df.groupby(by=['date', 'is_spam']).size().reset_index(name = 'count')
df_group

           date  is_spam  count
0    2019-05-10    False  20079
1    2019-05-10     True  10028
2    2019-05-11    False  37093
3    2019-05-11     True  17290
4    2019-05-12    False  29285
..          ...      ...    ...
391  2019-11-21     True  15169
392  2019-11-22    False  29254
393  2019-11-22     True  14478
394  2019-11-23    False  12775
395  2019-11-23     True   7097

[396 rows x 3 columns]

In [11]:
df_sum = df_sum.merge(
    df_group[df_group['is_spam'] == True].drop(['is_spam'], axis=1).rename(columns={'count': 'spam_count'}),
    left_on='date', right_on='date', how='left')
df_sum = df_sum.merge(
    df_group[df_group['is_spam'] == False].drop(['is_spam'], axis=1).rename(columns={'count': 'not_spam_count'}),
    left_on='date', right_on='date', how='left')
df_sum

           date  total_count  ...  spam_count  not_spam_count
0    2019-05-10        32093  ...       10028           20079
1    2019-05-11        57226  ...       17290           37093
2    2019-05-12        48499  ...       16504           29285
3    2019-05-13        70764  ...       21559           45395
4    2019-05-14        67155  ...       22211           41136
..          ...          ...  ...         ...             ...
193  2019-11-19        38783  ...       14480           21770
194  2019-11-20        38278  ...       14567           21290
195  2019-11-21        43713  ...       15169           26006
196  2019-11-22        46193  ...       14478           29254
197  2019-11-23        21445  ...        7097           12775

[198 rows x 6 columns]

In [12]:
# Para noticias solo tenemos en cuenta los no spam
df = df[df['is_spam'] == False]
df

                date  ... is_news
0         2019-05-10  ...   False
2         2019-05-10  ...   False
4         2019-05-11  ...   False
9         2019-05-10  ...   False
10        2019-05-10  ...   False
...              ...  ...     ...
10329762  2019-11-23  ...   False
10329763  2019-11-23  ...   False
10329764  2019-11-23  ...   False
10329767  2019-11-23  ...   False
10329772  2019-11-23  ...   False

[4942076 rows x 7 columns]

In [13]:
df_group = df.groupby(by=['date', 'is_news']).size().reset_index(name = 'count')
df_group

           date  is_news  count
0    2019-05-10    False  15101
1    2019-05-10     True   4978
2    2019-05-11    False  27913
3    2019-05-11     True   9180
4    2019-05-12    False  20704
..          ...      ...    ...
391  2019-11-21     True   6913
392  2019-11-22    False  20887
393  2019-11-22     True   8367
394  2019-11-23    False   8631
395  2019-11-23     True   4144

[396 rows x 3 columns]

In [14]:
df_sum = df_sum.merge(
    df_group[df_group['is_news'] == True].drop(['is_news'], axis=1).rename(columns={'count': 'news_count'}),
    left_on='date', right_on='date', how='left')
df_sum = df_sum.merge(
    df_group[df_group['is_news'] == False].drop(['is_news'], axis=1).rename(columns={'count': 'not_news_count'}),
    left_on='date', right_on='date', how='left')
df_sum

           date  total_count  ...  news_count  not_news_count
0    2019-05-10        32093  ...        4978           15101
1    2019-05-11        57226  ...        9180           27913
2    2019-05-12        48499  ...        8581           20704
3    2019-05-13        70764  ...       12009           33386
4    2019-05-14        67155  ...       11169           29967
..          ...          ...  ...         ...             ...
193  2019-11-19        38783  ...        6292           15478
194  2019-11-20        38278  ...        6352           14938
195  2019-11-21        43713  ...        6913           19093
196  2019-11-22        46193  ...        8367           20887
197  2019-11-23        21445  ...        4144            8631

[198 rows x 8 columns]

In [17]:
df_sum.to_csv(f'{path}Dataset/v1/tagged_summary.csv.gz',
                    index = False, compression='gzip', escapechar='\\', quotechar='"', encoding = "utf-8",
                    quoting=csv.QUOTE_NONNUMERIC, sep=";")

NameError: ignored